mixin footer()
    footer.footer
        .msg-wrap
            .msg(onclick='gsapMsg.reverse()')
        .w-center
            .footer__wrap
                .footer__logo-wrap
                    .footer__menu-logo
                        img(src='static/img/content/logo.svg' alt='logo')
                .footer__btn-up
                    button#scroll.btn-up
                .footer__contacts
                    .footer__contacts-wrap
                        a.footer__contacts-mail(href="mailto:uriyderechey@gmail.com") uriyderechey@gmail.com
                        a.footer__contacts-tel(href="tel:+380638233524") +380638233524
                    .footer__contacts-policy Uriy Derechey, Markup Developer, Kyiv
