extends _page-template

block content
    | <!-- skin 1 -->
    +header
    .w-inner
        #about.text.first-text
            .w-center
                .text__wrap
                    .text__wrap-left
                        .text__title.lng-about-title ABOUT US
                        .text__subtitle.lng-about-text Welcome to the website of our studio! We believe that design is not only about aesthetics, but also about creating a functional space that inspires and emphasizes your personality
                        button.btn.popup-btn.lng-btn More information
                    .text__wrap-right
                        .text__bg-text-wrap
                            .text__bg-text US
                            .text__bg-text ABOUT
                        .text__img-wrap
                            img(src='static/img/content/st1.png' alt='')

        #classes.text.colored
            .w-center
                .text__wrap
                    .text__wrap-left
                        ul.text__list
                            li.text__list-item.popup-btn
                                .text__list-item-link
                                    .text__list-title.lng-design UX/UI Design
                                    .text__list-text.lng-design-text “UX/UI design is not just a pretty picture. It is the basis of user convenience and satisfaction from interaction with the product. We create interfaces that lead the user to the goal, making this path intuitive and enjoyable.”
                            li.text__list-item.popup-btn
                                .text__list-item-link
                                    .text__list-title.lng-3ddesign 3D Desgin
                                    .text__list-text.lng-3ddesign-text 3D design is an opportunity to bring your ideas to life before they are realized. Thanks to three-dimensional models, you can see the product in all its detail, evaluate its proportions, colors, and textures. We create virtual worlds that inspire and impress with their realism.
                            li.text__list-item.popup-btn
                                .text__list-item-link
                                    .text__list-title.lng-photoshop Photoshop and Illustrator
                                    .text__list-text.lng-photoshop-text Photoshop and Illustrator are the tools that enable us to turn your ideas into visually stunning projects. Photoshop provides detailed image editing and photorealistic compositing, while Illustrator is ideal for precise, clean vector illustrations.
                            li.text__list-item.popup-btn
                                .text__list-item-link
                                    .text__list-title.lng-typography Logo and Typography
                                    .text__list-text.lng-typography-text A logo and typography are the face of your brand. They create the first impression, convey the style and values of the company, helping it stand out from the competition. We believe that every detail matters - from the shape of the logo to the font you choose..
                    .text__wrap-right
                        .text__bg-text-wrap
                            .text__bg-text CLASSES
                            .text__bg-text OUR
                        .text__img-wrap
                            img(src='static/img/content/st2.png' alt='')

        #guidance.text.text-teachers
            .w-center
                .text__wrap
                    .text__wrap-right
                        .text__bg-text-wrap
                            .text__bg-text GUIDANCE
                            .text__bg-text OUR
                        .text__img-wrap
                            img(src='static/img/content/st3.png' alt='')
                    .text__wrap-left
                        .slider
                            .slider__wrap
                                .slider__wrap
                                    .slider__authors.js-slider
                                        .slider__author
                                            img(src='static/img/content/author.jpg' alt='')
                                        .slider__author
                                            img(src='static/img/content/author2.jpg' alt='')
                                        .slider__author
                                            img(src='static/img/content/author3.jpg' alt='')
                                        .slider__author
                                            img(src='static/img/content/author4.jpg' alt='')


        #values.text.colored
            .w-center
                .text__wrap
                    .text__wrap-left
                        ul.text__list
                            li.text__list-item.about__list-item
                                .text__list-item-link
                                    .text__list-title.lng-smart Smart Creativity
                                    .text__list-text.lng-smart-text Smart Creativity is a combination of creativity based on analysis and business strategy. We implement innovative ideas that not only attract the audience, but also help to achieve specific results for your brand.
                            li.text__list-item.about__list-item
                                .text__list-item-link
                                    .text__list-title.lng-individual Individual Approach
                                    .text__list-text.lng-individual-text
                                        | Individualized approach is the basis of our work. We believe that every project should be unique, reflect your brand values, and meet your specific goals. Our task is to understand your idea and translate it into a design that exceeds expectations.
                            li.text__list-item.about__list-item
                                .text__list-item-link
                                    .text__list-title.lng-attention Attention to Details
                                    .text__list-text.lng-attention-text
                                        | Attention to detail is the principle on which all our work is based. We believe that every little thing matters, because it is the details that determine whether a project will look professional, harmonious, and complete.

                    .text__wrap-right
                        .text__bg-text-wrap
                            .text__bg-text values
                            .text__bg-text.text__alternative-bg-wrap
                                | our
                                .text__alternative-bg-text
                                    span.coloring Design
                                    |  is at your feet
                        .text__img-wrap
                            img(src='static/img/content/st4.png' alt='')

        #contacts.text.text-contacts
            .w-center
                .text__wrap
                    .text__wrap-right
                        .text__bg-text-wrap
                            .text__bg-text tacts
                            .text__bg-text con
                        .text__img-wrap
                            img(src='static/img/content/st5.png' alt='')
                    .text__wrap-left
                        .text__contacts-title.lng-contacts-title Write to us
                        .text__contacts-wrap
                            a.text__contacts-mail(href="mailto:uriyderechey@gmail.com") uriyderechey@gmail.com
                            a.text__contacts-tel(href="tel:+380638233524") +380638233524
                        .text__list-text.lng-contacts-text
                            | Can"t wait to join our creative surroundings? Don"t hesitate! Leave your inquiry, and our manager will contact you soon.
                        .text__form-wrap
                            .text__contacts-title.w-gap-lg.lng-contacts-title2 Write to us
                            .w-gap-lg
                                .form
                                    .form__wrap
                                        form#form.form__form(enctype='multipart/form-data' action='' method='post' onsubmit="send(event, 'send.php')")
                                            .form__group
                                                label.form__label.lng-contacts-name(for='name') Name
                                                input#name.form__control(type='text' name='name' placeholder='' required='required')
                                            .form__group
                                                label.form__label.lng-contacts-phone(for='phone') Phone
                                                input#phone.form__control(type='text' name='phone' placeholder='' required='required')
                                            .form__group
                                                label.form__label.lng-contacts-email(for='email') Email
                                                input#email.form__control(type='email' name='email' placeholder='' required='required')
                                            .form__group
                                                button.form__btn.btn.lng-contacts-btn(type='submit') Send

